mixin input-password(name, placeholder, value, label, readonly)
    if readonly
        .form--element.form--password
            .form--password-old
                label.form--element.form--element-text
                    if label
                        .form--element-label= label
                    +form-change-button()
                    .form--element-dummy.form--element-control(readonly=(readonly == true ? "readonly" : undefined))&attributes(attributes) &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
            .form--password-confirm
                label.form--element.form--element-text
                    .form--element-label Old Password
                    input.form--element-control(type="password", name=name + "_old")&attributes(attributes)
                    .form--password-reveal
                        i.fa.fa-eye
                label.form--element.form--element-text
                    .form--element-label New Password
                    input.form--element-control(type="password", name=name)&attributes(attributes)
                    .form--password-reveal
                        i.fa.fa-eye
    else
        label.form--element.form--element-text
            if label
                .form--element-label= label
            input.form--element-control(type="password", name=name, value=value, placeholder=placeholder, readonly=(readonly == true ? "readonly" : undefined))&attributes(attributes)